pkgbase = spade65-appimage
	pkgdesc = Configuration utility for the non-QMK Noir Spade65 keyboard (AppImage)
	pkgver = 0.8.9
	pkgrel = 1
	url = https://github.com/dirhamtriyadi/spade65-non-qmk
	install = spade65-appimage.install
	arch = x86_64
	license = MIT
	depends = fuse2
	depends = hicolor-icon-theme
	provides = spade65
	conflicts = spade65
	noextract = spade65-0.8.9.AppImage
	options = !strip
	options = !debug
	source = spade65-0.8.9.AppImage::https://github.com/dirhamtriyadi/spade65-non-qmk/releases/download/v0.8.9/Spade65-Linux-x86_64.AppImage
	source = spade65-0.8.9.rules::https://raw.githubusercontent.com/dirhamtriyadi/spade65-non-qmk/v0.8.9/udev/99-spade65.rules
	source = spade65-0.8.9.LICENSE::https://raw.githubusercontent.com/dirhamtriyadi/spade65-non-qmk/v0.8.9/LICENSE
	sha256sums = 1475243b5bd821de4915609a0b27122987eab951948ab8bc9149defb1af3e516
	sha256sums = a33d1ba62fc61f9b460b8d18870d0e0e87dbbd6643693a4a6b317b086bb8ccbc
	sha256sums = c7f8dc7dce00fcb517d34ece0ba977f1b98c35a3212cb45224c3c1d075c70d64

pkgname = spade65-appimage
